common --enable_bzlmod

build:unix --cxxopt=-std=c++17
build:unix --host_cxxopt=-std=c++17

build:windows --cxxopt=/std:c++17
build:windows --host_cxxopt=/std:c++17

build --enable_platform_specific_config
build --host_platform=@local_config_platform//:host

